snippet cxx "bein" bA
#include <iostream>

using namespace std;

int main() {
    $0
}
endsnippet

snippet fun "function"
${1:int} ${2:name}() {
    $3
}
endsnippet

snippet cl "class" bA
class ${1:Solution} {
    $2
};
endsnippet

snippet sr "class" bA
struct ${1:Solution} {
    $2
};
endsnippet

snippet str "string" b
#include <string>
endsnippet

snippet inc "include" bA
#include <$1
endsnippet

